<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard - Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <header class="bg-primary text-white text-center py-3">
        <h1>Welcome to Admin</h1>
        <nav class="nav justify-content-center">
            <a class="nav-link text-white" href="/DashBoard">Home</a>
            <a class="nav-link text-white" href="/ad_Search">Search</a>
            <a class="nav-link text-white" href="/ad_summary">Summary</a>
            <a class="nav-link text-white" href="/login">Logout</a>
        </nav>
    </header>

    <section class="container mt-5">
        <h2>Services</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Service Name</th>
                    <th>Base Price</th>
                </tr>
            </thead>
            <tbody>
                {% for i in services %}
                <tr>
                    <td ><a href ="/update_service/{{i.id}}">{{i.id}}</a></td>
                    <td>{{i.name}}</td>
                    <td>{{i.price}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="New_Service" class="btn btn-success">+ Add new Service</a>

        <h2>Professionals</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Experience (Yrs)</th>
                    <th>Service Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for i in prof %}
                <tr>
                    <td><a href="/check_professional/{{i.id}}">{{i.id}}</a></td>
                    <td>{{i.fullname}}</td>
                    <td>{{i.experience}}</td>
                    <td>{{i.service.name}}</td>
                    <td>
                    {% if i.status == "pending" %}
                    <a href="/accept_professional/{{i.id}}" >Accept |</a>
                    <a href="/reject_professional/{{i.id}}" >Reject</a>
                    {%else%}
                    {{i.status}}
                    {%endif%}
                </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2>Service Requests</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Service Name</th>
                    <th>Customer Name</th>
                    <th>Assigned Professional (if any)</th>
                    <th>Status (R/A/C)</th>
                </tr>
            </thead>
            <tbody>
                {% for i in requests %}
                <tr>
                    <td><a href="/check_Request/{{i.id}}">{{loop.index}}</a></td>
                    <td>{{i.service.name}}</td>
                    <td>{{i.customer.fullname}}</td>
                    <td>{{i.professional.fullname}}</td>
                    <td>
                        {% if i.status == "close it" %}
                            Accepted
                        {%else%}
                        {{i.status}}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</body>
</html>
